body {
  background-color: aqua;
}
.div1 {
  background-color: red;
}
.div2 {
  background-color: blue;
}
.div3 {
  background-color: bisque;
}
.div4 {
  background-color: blueviolet;
}
.common {
  color: white;
  text-align: center;
}
#id1 {
  /* padding: 4rem; */
  /* margin: 4rem; */
}
.form {
  background-color: azure;
  /* width: fit-content; */
  padding: 20px;
  text-align: center;
}

input {
  padding: 20px;
  border: none;
  border-radius: 10px;
}

.input1 {
  background-color: aqua;
}

.input2 {
  background-color: rgb(121, 140, 140);
}
.form h2{
    text-align: center;
}